# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

moc_*
*.tmp
*.bk
.qmake*
Skyscraper.app/**/*
packages
*-packages
target
Skyscraper
platforms.json.orig
src/screenscraper.cpp.orig
.vscode
.code-workspace.code-workspace
config/cache
config/skipped-*
roms
own_scripts/*.gz
own_scripts/*.zip
own_scripts/*.xz
own_scripts/koillection/*.gz
config/whdload_db.xml
config/launchboxdb
config/giantbombdb
config/mobygamesdb
config/vgfactsdb
own_scripts/VideoGameData
config/mameMap.csv
config/whdload_db.xml
own_scripts/retro
own_scripts/gb
config/igdbToken.dat
config/chipold
own_scripts/yuzu_old
config/useful_scrapers*.txt
config/cookies-gb
own_scripts/moby-games-platform-dumper
own_scripts/ZXDB
own_scripts/argdb_scraper
config/reports
own_scripts/gamefaqs-scaper
own_scripts/vgfacts-scraper
own_scripts/gamefaqsdb
config/gamefaqsdb
config/canonicaldata.db
config/negativecache.db
own_scripts/rbd_reader.exe
