; --------------------------------------------------------------------
; Skyscraper by Lars Muldjord (https://github.com/detain/skyscraper)
; --------------------------------------------------------------------

; This is an example config file for use with Skyscraper. Use it as a template for creating
;   your own. If you copy this file to 'config.ini' it will be used by default.
;   You can always copy config.ini.example to a filename of your choice and make Skyscraper
;   use it with the '-c CONFIGFILE' command line option.

; You can have several platform sections in one config file. Further down is an example of
;   a generic platform setup. Check '--help' for more info on supported platforms.

; You can have several scraping module sections in one config file. Further down is an example
;   of a generic module setup. Check '--help' for more info on supported modules.

; Remember that most of these settings can also be set as command line options. Doing so
;   will overrule the options seen here except for the scraping module configs which
;   overrules everything else.
; Platform specific configs overrule main configs.

; Uncomment the lines you wish to use (remove the ';' in front of the lines).
; Also remember to uncomment or create the sections they belong to such as '[snes]'.

[main]
;inputFolder="/home/pi/RetroPie/roms"
;excludePattern="*[BIOS]*"
;includePattern="Super*"
;excludeFrom="/home/pi/.skyscraper/excludes.txt"
;includeFrom="/home/pi/.skyscraper/includes.txt"
;gameListFolder="/home/pi/RetroPie/roms"
;gameListBackup="false"
;mediaFolder="/home/pi/RetroPie/roms"
;cacheFolder="/home/pi/.skyscraper/cache"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
;cacheCovers="true"
;cacheScreenshots="true"
;cacheWheels="true"
;cacheMarquees="true"
;cacheTextures="true"
;importFolder="/home/pi/.skyscraper/import"
;unpack="false"
;frontend="emulationstation"
;emulator=""
;launch=""
;videos="false"
;videoSizeLimit="42"
;videoConvertCommand="ffmpeg -i %i -y -pix_fmt yuv420p -t 00:00:10 -c:v libx264 -crf 23 -c:a aac -b:a 64k -vf scale=640:480:force_original_aspect_ratio=decrease,pad=640:480:(ow-iw)/2:(oh-ih)/2,setsar=1 %o"
;videoConvertExtension="mp4"
;symlink="false"
;brackets="true"
;maxLength="10000"
;threads="2"
;pretend="false"
;unattend="false"
;unattendSkip="false"
;interactive="false"
;forceFilename="false"
;verbosity="1"
;skipped="false"
;maxFails="30"
;lang="en"
;region="wor"
;langPrios="en,de,es"
;regionPrios="eu,us,ss,uk,wor,jp"
;minMatch="0"
;artworkXml="artwork.xml"
;relativePaths="false"
;addExtensions="*.zst"
;hints="false"
;subdirs="true"
;spaceCheck="true"
;scummIni="/full/path/to/scummvm.ini"

; The following is an example of configs that only affect the 'snes' platform.
;[snes]
;inputFolder="/home/pi/RetroPie/roms/amiga"
;excludePattern="*[BIOS]*"
;includePattern="Super*"
;excludeFrom="/home/pi/.skyscraper/excludes/snes/excludes.txt"
;includeFrom="/home/pi/.skyscraper/includes/snes/includes.txt"
;gameListFolder="/home/pi/RetroPie/roms/amiga"
;mediaFolder="/home/pi/RetroPie/roms/amiga/media"
;cacheFolder="/home/pi/.skyscraper/cache/amiga"
;cacheResize="false"
;nameTemplate="%t [%f], %P player(s)"
;jpgQuality="95"
;cacheCovers="true"
;cacheScreenshots="true"
;cacheWheels="true"
;cacheMarquees="true"
;cacheTextures="true"
;importFolder="/home/pi/.skyscraper/import/amiga"
;unpack="false"
;emulator=""
;launch=""
;videos="false"
;videoSizeLimit="42"
;symlink="false"
;brackets="true"
;lang="en"
;region="wor"
;langPrios="en,de,es"
;regionPrios="eu,us,ss,uk,wor,jp"
;minMatch="0"
;maxLength="10000"
;threads="2"
;startAt="filename"
;endAt="filename"
;pretend="false"
;unattend="false"
;unattendSkip="false"
;interactive="false"
;forceFilename="false"
;verbosity="1"
;skipped="false"
;artworkXml="artwork.xml"
;relativePaths="false"
;extensions="*.zip *.uae *.adf"
;addExtensions="*.zst *.rom"
;subdirs="true"

; The following is an example of configs that only affect the 'pegasus' frontend.
;[pegasus]
;excludePattern="*[BIOS]*"
;includePattern="Super*"
;artworkXml="artwork.xml"
;emulator=""
;launch=""
;gameListFolder="/home/pi/RetroPie/roms/amiga"
;gameListBackup="false"
;mediaFolder="/home/pi/RetroPie/roms/amiga/media"
;skipped="false"
;brackets="true"
;videos="false"
;symlink="false"
;startAt="filename"
;endAt="filename"
;unattend="false"
;unattendSkip="false"
;forceFilename="false"
;verbosity="1"
;maxLength="10000"

; The following is an example of configs that only affect the 'screenscraper' scraping module.
;[screenscraper]
;userCreds="user:password"
;threads="1"
;minMatch="0"
;maxLength="10000"
;interactive="false"
;cacheResize="false"
;jpgQuality="95"
;cacheCovers="true"
;cacheScreenshots="true"
;cacheWheels="true"
;cacheMarquees="true"
;cacheTextures="true"
;videos="false"
;videoSizeLimit="42"
;videoConvertCommand="ffmpeg -i %i -y -pix_fmt yuv420p -t 00:00:10 -c:v libx264 -crf 23 -c:a aac -b:a 64k -vf scale=640:480:force_original_aspect_ratio=decrease,pad=640:480:(ow-iw)/2:(oh-ih)/2,setsar=1 %o"
;videoConvertExtension="mp4"
;;The following option is only applicable to 'screenscraper'
;videoPreferNormalized="true"

;[esgamelist]
;cacheRefresh="true"
;cacheScreenshots="false"

;[import]
;cacheRefresh="true"

[main]
keepSubtitle="false"
waitIfConcurrent="true"
gameListFolder="/opt/pegasus/roms"
;gameListBackup="false"
;unpack="true"
unpack="false"
frontend="pegasus"
videos="true"
manuals="true"
videoSizeLimit="26"
manualSizeLimit="51"
symlink="true"
;videoConvertCommand="ffmpeg -i %i -y -pix_fmt yuv420p -t 00:00:10 -c:v libx264 -crf 23 -c:a aac -b:a 64k -vf scale=640:480:force_original_aspect_ratio=decrease,pad=640:480:(ow-iw)/2:(oh-ih)/2,setsar=1 %o"
videoConvertExtension="mp4"
brackets="false"
maxLength="32700"
threads="2"
; By default, overwrite existing game lists. To skip existing entries, use "--flags unattendskip" in the command line
unattend="true"
getMissingResources="false"
;onlyMissing="false"
skipped="true"
skipExistingCovers="true"
skipExistingMarquees="true"
skipExistingScreenshots="true"
skipExistingVideos="true"
skipExistingManuals="true"
skipExistingWheels="true"
skipExistingTextures="true"
langPrios="en,es,fr,it,de,ja"
hints="false"
subdirs="false"
scummIni="scummvm.ini"
fuzzySearch="2"
minMatch="80"
guidesPath="..."
vgmapsPath="..."
negCacheDaysExpiration="365"

[arcadedb]
;getMissingResources="true"

[mobygames]
onlyMissing="true"
threads="1"
userCreds="xxx"

[offlinemobygames]
threads="1"
userCreds="xxx"
mobygamesDb="mobygamesdb"
minMatch="0"

[launchbox]
launchBoxDb="launchboxdb/Metadata.xml"
;getMissingResources="true"
minMatch="0"
threads="1"

[rawg]
threads="1"
userCreds="xxx"

[igdb]
threads="4"
userCreds="xxx:xxx"

[giantbomb]
userCreds="xxx:xxx:xxx"
giantBombDb="giantbombdb"
getMissingResources="false"
minMatch="0"
threads="1"

[screenscraper]
userCreds="xxx:xxx:xxx"
threads="1"
; The following option is only applicable to 'screenscraper'
videoPreferNormalized="true"
minMatch="65"

[chiptune]
threads="1"
minMatch="0"
chiptunes="true"
cacheRefresh="true"
navidromeDb="..."

[gamefaqs]
gamefaqsDb="gamefaqsdb"
threads="1"
minMatch="0"
guides="true"
cacheRefresh="true"

[vgfacts]
vgfactsDb="vgfactsdb"
threads="1"
minMatch="0"

[vgmaps]
minMatch="0"
cacheRefresh="true"
vgmaps="true"
threads="1"
vgmapsPath="..."

[customflags]
cacheRefresh="true"

[thegamesdb]
; The key allows 3000 requests per month and IP address
userCreds="xxx"

threads="1"

; Internal scrappers:
[esgamelist]
cacheRefresh="true"

[import]
cacheRefresh="true"

; Frontends
[xmlexport]
guides="true"
vgmaps="true"
chiptunes="true"

[koillection]
userCreds="zzz:zzz"
dbServer="localhost"
koiDb="koillection"
dbUser="xxx"
dbPassword="xxx"
guides="true"
vgmaps="true"
chiptunes="true"

[pegasus]
; Not needed anymore usually:
skipExistingCovers="false"
skipExistingMarquees="false"
skipExistingScreenshots="false"
skipExistingVideos="false"
skipExistingManuals="false"
skipExistingWheels="false"
skipExistingTextures="false"

; Platform specific settings:
